@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    /*overflow-x: hidden;*/
}






.back{
    background-image: url(join\ now!.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}

.burger-menu {
    display: none;  
    cursor: pointer;
}


.bar {
    width: 50px;
    height: 8px;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 9px;
}


.End{
    display: none;
  
    
}
.joinus a{
    background-color: rgb(168, 6, 6);
    font-size: 50px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 35px;
    
}


.Error{
   
    color: #ff0000;
    font-size: 15px;
    display: block;
}


.joinus{
    
    display: flex;
    justify-content: center;
   position: relative;
   top: 85%;

}
header{
    background-color: rgb(0, 0, 0);
    padding: 20px;
    height: 50px;
    
}
.headerx{
    display: flex;
    justify-content: space-between;
    
}

.listheader{
    display: flex;
    justify-content:space-between ;
    font-size: 20px;
    width: 40%;
    list-style: none;
    align-items: center;
}

.navlinks{
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.logo{
    color: white;
    text-decoration: none;
    font-size: 30px;

    
}


.firstcont{
    display: flex;
    justify-content:space-between ;
    margin: 20px 0px 0px 0px;
    padding: 20px;
}

.left1{
    background-color: rgb(0, 0, 0);
    width: 47%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

}
.theboom{
    width: 70%;
    color: aliceblue;
    font-size: 60px;
    background-color: rgb(185, 19, 19);
    border-radius: 10px;
    
    padding: 20px;
    margin: 20px;
    margin-bottom: 50%;
    
    
}

p{
    
    color: aliceblue;
    font-size: 60px;
    border-radius: 10px;
    padding: 20px;
   
   
   
    
}

.Discount{
    background-color: rgb(152, 3, 3);
    font-size: 70px;
    padding: 10PX;
    margin: 40px;
}

.right1{
    background-color: rgb(0, 0, 0);
    width: 47%;
    height: 700px;
    background-image: url(Black\ and\ White\ Texture\ Quotes\ Instagram\ Post\ \(1\).png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}



.About{
    display: inline-block;
    
    color: rgb(255, 255, 255);
    font-size: 60px;
    padding: 20px;
    position: relative;
    top: 1vh;
    left: 6vh;
   
}

.aboutpara{
    font-size: 20px;
    line-height:8vh;
}

.ourmembers{
   
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    background-color: rgb(154, 160, 158);
    color: aliceblue;
}

.pict{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.picleft{
    background-image: url(Instagram\ post\ with\ bodybuilder\ about\ fitness\ club\ &\ gym\ studio\ and\ motivation\ slogan\ \(2\).png);
    background-size: cover;
    background-position: center;
   
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column-reverse;
    
    
}
.picright{
   background-color: #ff0000;
    width: 100%;
    height: 700px;
    background-image: url(Instagram\ post\ with\ bodybuilder\ about\ fitness\ club\ &\ gym\ studio\ and\ motivation\ slogan\ \(1\).png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
}
.zoubir{
    background-color: rgb(177, 172, 172);
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
}

.hamid{
    background-color: rgb(177, 172, 172);
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
}


.pic_left_and_zoubir{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.pic_right_and_hamid{
    display: flex;
    flex-direction: column;
    width: 40%;
}


.faqbackround{
    
    height: 100vh;
    background-image: url(Red\ and\ Black\ Ripped\ Paper\ Black\ Friday\ Flyer\ Portrait.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
   
}
.faq{

    color: aliceblue;
    font-size: 60px;
    /*display: flex;*/
    /*justify-content: center;*/
    padding: 20px;
    text-align: center;
    
}

.faq-question{
    background-color: rgb(41, 54, 54);
    color: aliceblue;
    font-size: 30px;
    padding: 20px;
    /*display: flex;*/
    justify-content: center;
    /*margin-left: 20%;
    margin-top: 9%;
    padding-right: 4.74%;*/
    text-align: center;
    border-radius: 10px;
    border:  rgb(255, 255, 255) solid ;
  
}

.faq-answer{
    background-color: rgba(105, 103, 106, 0.984);
    color: aliceblue;
    font-size: 30px;
   
    padding: 20px;
    padding-right: 8.15%;
    /*display: flex;*/
    /*justify-content: center;
    margin-left: 20%;*/
    text-align: center;
    border-radius: 10px;
    
    
}



/* section du footer*/

footer{
    background-color: rgb(52, 50, 46);
    margin-bottom: -80px;   /* ilya un vide au dessous de footer*/
}

.footerx{
   /* background-color: rgb(73, 73, 73);*/
    height: 50%vh;
    display: flex;
    justify-content: space-around;
}

.footerlist{
    line-height:3vh;
    padding: 20px 0px 20px 0px;
    margin-left: 20px;
    color: rgb(255, 255, 255);
    
}

.fitfoxx h3{
    background-color: rgb(109, 109, 113);
    padding: 20px 60px 20px 60px ;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    

   
}

.contactlist{
    list-style: none;
    padding: 20px 0px 20px 0px;
    line-height:3vh;
    color: rgb(255, 255, 255);
}

.servicesx h3{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    
}

.contact h3{
    color: rgb(255, 255, 255);
    margin-top: 20px;
}



.Mediahome{
    
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.Mediahome p{
    
    font-size: 20px;
}

.mediaxx{
    
    height: 50px;
    font-size: 40px;
}







/* css for registration page*/

.containerregistration{
    height: 110vh;
    background-image: url(Design\ sans\ titre\ \(6\).png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 40px;

}

.formulairestyle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    color: rgb(255, 255, 255);
    font-size: 35px;
    width: 40%;
    height: 60%;
    border-radius: 20px;
}

#Reg{
    
    margin-top: 22px;
    border-radius: 10px;
    font-size: 30px;
    border: 2px solid transparent;
    background-color: rgb(224, 62, 62);
    width: 100%;
    
    color: white;
    
    
}

#Reg:hover{
    background-color: rgb(28, 216, 25) ;
    color: rgb(255, 255, 255);
}


input{

    width: 95%;
    border-radius: 10px ;
    height: 07%;
    color: black;
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
    
}


.Reservemy{
    font-size: 60px;
}







/* css for programs */



.bodyprogram{
    background-color: black;
}
.containerProgram{
    height: 100vh;
    background-image: url(hero.png);
    background-size: cover;
    background-position: center;
}

.containerProgram div{
    color: rgb(255, 255, 255);
    background-color: rgba(113, 117, 117, 0.647);
    display: inline-flex;
    position: relative;
    top: 55%;
    left: 20%;
    font-size: 300%;
    padding: 2% 8% 2% 8%;

}

.activities{
    
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    
    
}

.contenaire1{
    
    height: auto;
    width: 33%;
    display: flex;
    flex-direction: column;
}
.contenaire2{
    
    height: auto;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.contenaire3{
    
    height: auto;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.pic1{
    height: 70vh;
    background-image: url(left.png);
    background-size: cover;
    background-position: center;

}

.pic2{
    height: 70vh;
    background-image: url(midl.png);
    background-size: cover;
    background-position: center;
}

.pic3{
    height: 70vh;  
    background-image: url(right.png);
    background-size: cover;
    background-position: center;
}



.disc1{
     
    background-color: rgb(120, 124, 123);
    height: auto;
    
   
}

.disc2{
    
    background-color: rgb(120, 124, 123);
    height: auto;
   
   
}

.disc3{
    
    background-color: rgb(120, 124, 123);
    height: auto;
   
}

.paragraphDiscrption{
    font-size: 15px;

}

.PLANS{
    
    text-align: center;
    font-size: 70px;
    color: rgb(255, 255, 255);
}

.Webelieve{
    font-size: 20px;
    text-align: center;
}


.Pricinnnng{
   
    
    height:auto ;  
    width: 100%; 
    margin: 5% 0% 5% 0%;
    
      
}

.pricegroup{
background-image: url(pricing2.png);
    background-size:70% ;
    background-position: center;
    background-repeat: no-repeat;
display: flex;
justify-content: space-evenly;
/*gap: 2%;*/
height: 70vh;




}

.pricing1{
    background-color: rgba(48, 55, 82, 0.559);
    
    height: 50vh;
    width: 25%;  
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.pricing1 h3{
    
    line-height: 3;
}

.titlex{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.month{
    color: white;
}

.pricex{
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.pricing1 ul{
    color: white;
    line-height: 3;
    font-size: 0.7rem;
}

.pricing2{
    background-color: rgba(48, 55, 82, 0.559);
    
    height: 50vh;
    width: 25%;  
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.pricing2 h3{
    
    line-height: 3;
}



.pricing2 ul{
    color: white;
    line-height: 3;
    font-size: 0.7rem;
}

.pricing3 h3{
    
    line-height: 3;
}



.pricing3 ul{
    color: white;
    line-height: 3;
    font-size: 0.7rem;
}


.pricing3{
    background-color: rgba(48, 55, 82, 0.559);
    
    height: 50vh;
    width: 25%;  
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.registernow{
    display: flex;
    justify-content: center;
/*background-color: rgb(79, 23, 23);*/
    font-size:50px;
}


.registernow a{
    text-decoration: none;
    background-color: brown;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    padding: 20px;
}












.coaches{
   
   padding-top: 10%;
   padding-bottom: 20%; ;
    height: 70vh;
    width: 100%; 
    background-image: url(coaches.png);
    background-size:90% ;
    background-repeat: no-repeat;
    background-position: center;
    
}

.Titlecoaches{
    display: flex;
    justify-content: center;
    /*position: relative;
    top: -45%;
    left: 35%;*/
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 10%;
}


 

 .rassemble_Title_and_background{
     display: flex;
     flex-direction: column;
     gap: 10%;
 }



@media (max-width: 768px){
   
    .back{
        height: 70vh;
        background-position: center;
        background-size: cover;
    }

    .joinus{
        position: relative;
        top: 80%;
    
   
}
    
.burger-menu {
    display: block;  
    
}

.listheader{
    display: none;
}

.listheader.active {
    display: block; 
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0; 
    right: 0;
    background: #373333; 
    padding: 20px;
    z-index: 1; 
    width: 120px;
    height: 40vh;
    

} 

.End{
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(212, 16, 22, 0.744);
    font-size: 30px;
    border-radius: 10px;
    color: aliceblue;
}

.firstcont{
    
    display: flex;
    flex-direction: column;

    height: 100vh; /*auto*/
   
    padding: 30px;   
    justify-content: space-around;
}

.left1{
    background-color: rgb(0, 0, 0);
    height: 30%; /*auto*/
    width: 100%;
   


}
.theboom{
    
    color: aliceblue;
    font-size: 25px;
    background-color: rgb(185, 19, 19);
    border-radius: 10px;
    padding: 20px;
    margin: 0px;
    text-align: center;

    margin-top: 0px;

}

p{
    
    color: aliceblue;
    font-size: 25px;
    
    padding: 20px;

    
}

.Discount{
    background-color: rgb(152, 3, 3);
    font-size: 22px;
    padding: 10PX;
   
}


.right1{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 40%;  
    background-image: url(Black\ and\ White\ Texture\ Quotes\ Instagram\ Post\ \(1\).png);
    background-size: cover;
    background-position: center;
}



.About{
    display: inline-block;
    
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 20px;
    position: relative;
    top: 1vh;
    left: 6vh;
   
}

.aboutpara{
    font-size: 13px;
    line-height:2vh;
}


 /* from here is okey look next */
 
 


.ourmembers{
   
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 30px;
    background-color: rgb(88, 92, 96);
    border-radius: 40px;
    color: #ffffff;
    
}

.pict{
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    align-items: center;
}

.picleft{
    background-image: url(Instagram\ post\ with\ bodybuilder\ about\ fitness\ club\ &\ gym\ studio\ and\ motivation\ slogan\ \(2\).png);
    background-size: cover;
    background-position: center;
    
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column-reverse;
    
}
.picright{
   
    width: 100%;
    height: 50vh;
    background-image: url(Instagram\ post\ with\ bodybuilder\ about\ fitness\ club\ &\ gym\ studio\ and\ motivation\ slogan\ \(1\).png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column-reverse;
    
}
.zoubir{
    background-color: rgb(177, 172, 172);
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
}

.hamid{
    background-color: rgb(177, 172, 172);
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    color: aliceblue;
    border-radius: 10px;
}


.pic_left_and_zoubir{
    display: flex;
    flex-direction: column;
    width: 90%;
}

.pic_right_and_hamid{
    display: flex;
    flex-direction: column;
    width: 90%;
}






.faqbackround{
    height: 40vh;
    background-image: url(Red\ and\ Black\ Ripped\ Paper\ Black\ Friday\ Flyer\ Portrait.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
   
    
}


.faq{
    font-size: 30px; 
    padding: 20px;
    color: aliceblue; 
   
}





.faq-question{
    background-color: rgb(41, 54, 54);
    color: aliceblue;
    font-size: 10px;
    padding: 20px;
    /*display: flex;*/
    justify-content: center;
    /*margin-left: 20%;
    margin-top: 9%;
    padding-right: 4.74%;*/
    text-align: center;
    border-radius: 10px;
    border:  rgb(255, 255, 255) solid ;
  
}

.faq-answer{
    background-color: rgb(110, 115, 115);
    color: aliceblue;
    font-size: 10px;
   
    padding: 20px;
    padding-right: 8.15%;
    /*display: flex;*/
    /*justify-content: center;
    margin-left: 20%;*/
    text-align: center;
    border-radius: 10px;
    
    
}









footer{
    background-color: rgb(73, 70, 67);
}

.footerx{
   /* background-color: rgb(73, 73, 73);*/
    height: 50%vh;
    display: flex;
    justify-content: space-around;
}

.footerlist{
    display: none;
    
    padding: 0px;
    line-height:2;
    padding:0;
    margin-left: 0px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    
}

.fitfoxx h3{
    
    background-color: rgb(77, 77, 87);
    padding: 20px 60px 20px 60px ;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    border-radius: 20px;
    

   
}

.contactlist{
    display: none;
    list-style: none;
    padding: 0px;
    line-height:2;
    color: rgb(255, 255, 255);
    font-size: 10px;
}

.servicesx h3{
    display: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 13px;
    
}

.contact h3{
    display: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 15px;
}



.Mediahome{
    
    display: flex;
    flex-direction: column ;
    align-items: center;
}
.Mediahome p{
 
    font-size: 10px;
}

.mediaxx{

    height: 50px;
    font-size: 40px;
}



/* page program*/


.bodyprogram{
    background-color: black;
}
.containerProgram{
    height: 40vh;
    background-image: url(hero.png);
    background-size: cover;
    background-position: center;
}

.containerProgram div{
    color: rgb(255, 255, 255);
    background-color: rgba(113, 117, 117, 0.647);
    display: inline-flex;
    position: relative;
    top: 55%;
    left: 20%;
    font-size: 200%;
    padding: 2% 8% 2% 8%;

}


.activities{
    
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 70px;
    gap: 20px;
    
}

.contenaire1{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contenaire2{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenaire3{
    
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.pic1{
    height: 40vh;
    background-image: url(left.png);
    background-size: cover;
    background-position: center;

}

.pic2{
    height: 40vh;
    background-image: url(midl.png);
    background-size: cover;
    background-position: center;
}

.pic3{
    height: 40vh;  
    background-image: url(right.png);
    background-size: cover;
    background-position: center;
}



.disc1{
    height: auto; 
    background-color: rgb(120, 124, 123);
}

.disc2{
    height: auto; 
    background-color: rgb(120, 124, 123);
}

.disc3{
    height: auto;
    background-color: rgb(120, 124, 123);
}








.paragraphDiscrption{
    font-size: 60%;
}

.PLANS{
    
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.Webelieve{
    font-size: 10px;
    text-align: center;
}


.Pricinnnng{
   
    background-image: none;

    height:auto ;  
    width: 100%; 
    margin: 0% 0% 0% 0%;
    
      
}

.pricegroup{
background-image: url(pricing1.png);
display: flex;
flex-direction: column;
justify-content: space-around;
gap: 2%;
height: 100%;
padding: 60px;





}

.pricing1{
    background-color: rgba(48, 55, 82, 0.559);
    
    height: auto;
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px
    
   
}

.pricing1 h3{
    
    line-height: 3;
}

.titlex{
    color: rgb(255, 255, 255);
    font-size: 25px;
}

.month{
    color: white;
}

.pricex{
    color: rgb(255, 0, 0);
    font-size: 30px;
}

.pricing1 ul{
    color: white;
    line-height: 3;
    font-size: 0.7rem;
}

.pricing2{
    background-color: rgba(48, 55, 82, 0.559);
    
    height: auto;
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px
   
}

.pricing2 h3{
    
    line-height: 3;
}



.pricing2 ul{
    color: white;
    line-height: 3;
    font-size: 0.7rem;
}

.pricing3 h3{
    
    line-height: 3;
}



.pricing3 ul{
    color: white;
    line-height: 3;
    font-size: 0.7rem;
}


.pricing3{
    background-color: rgba(48, 55, 82, 0.559);
    
    height: auto;
    width: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px
}


.registernow{
    display: flex;
    justify-content: center;

}


.registernow a{
    text-decoration: none;
    background-color: brown;
    border-radius: 2rem;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 1.2rem;
}












.coaches{
   
   padding-top: 0%;
   padding-bottom: 00%; ;
    height: 40vh;
    width: 100%; 

    
    background-size:100% ;
    background-repeat: no-repeat;
    background-position: center;
    
}

.Titlecoaches{
   
    display: flex;
    justify-content: center;
    
    /*position: relative;
    top: 25%;
    left: 32%;*/
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 0px;
    margin-top: 40%;
    
}

.rassemble_Title_and_background{
    display: flex;
    flex-direction: column;
    
    
}







/* css for registration page*/

.containerregistration{
    height: 75vh;
    background-image: url(Design\ sans\ titre\ \(6\).png);
    background-size: 430%;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 00px;

}

.formulairestyle{
    /*background-color: rgb(252, 252, 252);*/
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: 35px;
    width: 70%;
    height: 50%;
    border-radius:0px;
}

#Reg{
    
    margin-top: 10px;
    margin-left: 11%;
    border-radius: 7px;
    font-size: 20px;
    border: 2px solid transparent;
    background-color: rgb(224, 62, 62);
    width: 100%;
    padding: 07px;
    
    color: white;
    
    
}

#Reg:hover{
    background-color: rgb(28, 216, 25) ;
    color: rgb(255, 255, 255);
}


input{
    

    width: 110%;
    border-radius: 10px ;
    height: 07%;
    color: black;
    margin-bottom: 0px;
    border: 1px solid;
    padding: px;
    
    
}


.Reservemy{
    font-size: 30px;
    /*margin-left: 15%;*/
}






        

        


    }


























  /* @media (min-width: 768px) and (max-width: 1023px){
   
        .back{
            height: 70vh;
            background-position: center;
            background-size: cover;
        }
    
        .joinus{
            font-size:10px;
            position: relative;
            top: 80%;
        }
    
        
      
    
    .firstcont{
        
        display: flex;
        flex-direction: column;
    
        height: 100vh;
       
        padding: 30px;
        justify-content: space-around;
    }
    
    .left1{
        background-color: rgb(0, 0, 0);
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
    
    
    }
    .theboom{
        
        color: aliceblue;
        font-size: 25px;
        background-color: rgb(185, 19, 19);
        border-radius: 10px;
        padding: 20px;
        margin: 0px;
        margin-top: -100px;
    
    }
    
    p{
        
        color: aliceblue;
        font-size: 25px;
        
        padding: 20px;
    
        
    }
    
    span{
        background-color: rgb(152, 3, 3);
        font-size: 20px;
        padding: 10PX;
       
    }
    
    .right1{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 40%;
        background-image: url(Black\ and\ White\ Texture\ Quotes\ Instagram\ Post\ \(1\).png);
        background-size: cover;
        background-position: center;
    }
    
    
    
    .About{
        display: inline-block;
        
        color: rgb(255, 255, 255);
        font-size: 20px;
        padding: 20px;
        position: relative;
        top: 1vh;
        left: 6vh;
       
    }
    
    .aboutpara{
        font-size: 13px;
        line-height:2vh;
    }
    
    
     /* from here is okey look next */
     
     
    
    
    /*.ourmembers{
       
        display: flex;
        justify-content: center;
        padding: 30px;
        font-size: 30px;
    }
    
    .pict{
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 80px;
        gap: 50px;
    }
    
    .picleft{
        background-image: url(Instagram\ post\ with\ bodybuilder\ about\ fitness\ club\ &\ gym\ studio\ and\ motivation\ slogan\ \(2\).png);
        background-size: cover;
        background-position: center;
        height: auto;
        width: 100%;
        height: 60vh;
        display: flex;
        flex-direction: column-reverse;
        
    }
    .picright{
       
        width: 100%;
        height: 60vh;
        background-image: url(Instagram\ post\ with\ bodybuilder\ about\ fitness\ club\ &\ gym\ studio\ and\ motivation\ slogan\ \(1\).png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column-reverse;
    }
    .zoubir{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        font-size: 35px;
        padding: 10px;
    }
    
    .hamid{
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        font-size: 35px;
        padding: 10px;
    }
    
    
    
    
    
    
    
    
    .faqbackround{
        height: auto;
        background-image: url(Red\ and\ Black\ Ripped\ Paper\ Black\ Friday\ Flyer\ Portrait.png);
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    
    /*.faq{
        font-size: 20px; /* Adjust the font size for mobile screens */
      /*  padding: 20px;
        color: aliceblue;
        
        display: flex;
        justify-content: center;
       
    }
    
    .firstquestion{
        background-color: rgb(107, 109, 109);
        color: aliceblue;
        font-size: 10px;
        padding: 20px;
       
        margin-left: 0%;
        margin-top: 20%;
        padding-right: 3.9%;
      
    }
    
    .secondquestion{
        background-color: rgb(165, 167, 167);
        color: aliceblue;
        font-size: 10px;
       
        padding: 20px;
        padding-right: 8.15%;
        margin-left: 0%;
        margin-bottom: 10%;
    
        
    }
    
    
    
    
    
    
    footer{
        background-color: rgb(73, 70, 67);
    }
    
    .footerx{
       /* background-color: rgb(73, 73, 73);*/
      /*  height: 50%vh;
        display: flex;
        justify-content: space-around;
    }
    
    .footerlist{
        display: none;
        
        padding: 0px;
        line-height:2;
        padding:0;
        margin-left: 0px;
        color: rgb(255, 255, 255);
        font-size: 13px;
        
    }
    
    .fitfoxx h3{
        
        background-color: rgb(77, 77, 87);
        padding: 20px 60px 20px 60px ;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 0px;
        font-size: 30px;
        color: rgb(255, 255, 255);
        border-radius: 20px;
        
    
       
    }
    
    .contactlist{
        display: none;
        list-style: none;
        padding: 0px;
        line-height:2;
        color: rgb(255, 255, 255);
        font-size: 10px;
    }
    
    .servicesx h3{
        display: none;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        font-size: 13px;
        
    }
    
    .contact h3{
        display: none;
        color: rgb(255, 255, 255);
        margin-top: 20px;
        font-size: 15px;
    }
    
    
    
    .Mediahome{
        
        display: flex;
        flex-direction: column ;
        align-items: center;
    }
    .Mediahome p{
     
        font-size: 10px;
    }
    
    .mediaxx{
    
        height: 50px;
        font-size: 40px;
    }
    
    
    
    /* page program*/
    
    
    /*.bodyprogram{
        background-color: black;
    }
    .containerProgram{
        height: 40vh;
        background-image: url(hero.png);
        background-size: cover;
        background-position: center;
    }
    
    .containerProgram div{
        color: rgb(255, 255, 255);
        background-color: rgba(113, 117, 117, 0.647);
        display: inline-flex;
        position: relative;
        top: 55%;
        left: 20%;
        font-size: 200%;
        padding: 2% 8% 2% 8%;
    
    }
    
    
    .activities{
        
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 70px;
        gap: 20px;
        
    }
    
    .contenaire1{
        
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contenaire2{
        
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .contenaire3{
        
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .pic1{
        height: 40vh;
        background-image: url(left.png);
        background-size: cover;
        background-position: center;
    
    }
    
    .pic2{
        height: 40vh;
        background-image: url(midl.png);
        background-size: cover;
        background-position: center;
    }
    
    .pic3{
        height: 40vh;  
        background-image: url(right.png);
        background-size: cover;
        background-position: center;
    }
    
    
    
    .disc1{
        height: auto; 
        background-color: rgb(120, 124, 123);
    }
    
    .disc2{
        height: auto; 
        background-color: rgb(120, 124, 123);
    }
    
    .disc3{
        height: auto;
        background-color: rgb(120, 124, 123);
    }
    
    
    
    
    
    
    
    
    .paragraphDiscrption{
        font-size: 60%;
    }
    
    .PLANS{
        
        text-align: center;
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
    
    .Webelieve{
        font-size: 10px;
        text-align: center;
    }
    
    
    .Pricinnnng{
       
        background-image: none;
    
        height:auto ;  
        width: 100%; 
        margin: 0% 0% 0% 0%;
        
          
    }
    
    .pricegroup{
    background-image: url(pricing1.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2%;
    height: 100%;
    padding: 60px;
    
    
    
    
    
    }
    
    .pricing1{
        background-color: rgba(48, 55, 82, 0.559);
        
        height: auto;
        width: 100%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px
        
       
    }
    
    .pricing1 h3{
        
        line-height: 3;
    }
    
    .titlex{
        color: rgb(255, 255, 255);
        font-size: 25px;
    }
    
    .month{
        color: white;
    }
    
    .pricex{
        color: rgb(255, 0, 0);
        font-size: 30px;
    }
    
    .pricing1 ul{
        color: white;
        line-height: 3;
        font-size: 0.7rem;
    }
    
    .pricing2{
        background-color: rgba(48, 55, 82, 0.559);
        
        height: auto;
        width: 100%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px
       
    }
    
    .pricing2 h3{
        
        line-height: 3;
    }
    
    
    
    .pricing2 ul{
        color: white;
        line-height: 3;
        font-size: 0.7rem;
    }
    
    .pricing3 h3{
        
        line-height: 3;
    }
    
    
    
    .pricing3 ul{
        color: white;
        line-height: 3;
        font-size: 0.7rem;
    }
    
    
    .pricing3{
        background-color: rgba(48, 55, 82, 0.559);
        
        height: auto;
        width: 100%;  
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px
    }
    
    
    .registernow{
        display: flex;
        justify-content: center;
    
    }
    
    
    .registernow a{
        text-decoration: none;
        background-color: brown;
        border-radius: 2rem;
        color: rgb(255, 255, 255);
        padding: 10px;
        font-size: 1.2rem;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    .coaches{
       
       padding-top: 20%;
       padding-bottom: 00%; ;
        height: 50vh;
        width: 100%; 
    
        
        background-size:100% ;
        background-repeat: no-repeat;
        background-position: center;
        
    }
    
    .coaches div{
        
        display: flex;
        justify-content: center;
        
        /*position: relative;
        top: 25%;
        left: 32%;*/
        font-size: 20px;
        color: rgb(255, 255, 255);
    }
    
    
    
    
    
    
    
    /* css for registration page*/
    
    /*.containerregistration{
        height: 75vh;
        background-image: url(Design\ sans\ titre\ \(6\).png);
        background-size: 430%;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        padding: 00px;
    
    }
    
    .formulairestyle{
        /*background-color: rgb(27, 49, 49);*/
      /*  display: flex;
        flex-direction: column;
        align-items: center;
        
        
        color: rgb(255, 255, 255);
        font-size: 35px;
        width: 100%;
        height: 50%;
        border-radius:0px;
    }
    
    #Reg{
        
        margin-top: 0px;
        margin-left: 24%;
        border-radius: 7px;
        font-size: 20px;
        border: 2px solid transparent;
        background-color: rgb(224, 62, 62);
        width: 100%;
        
        color: white;
        
        
    }
    
    #Reg:hover{
        background-color: rgb(28, 216, 25) ;
        color: rgb(255, 255, 255);
    }
    
    
    input{
        
    
        width: 130%;
        border-radius: 10px ;
        height: 07%;
        color: black;
        margin-bottom: 0px;
        border: 1px solid;
        padding: px;
        
        
    }
    
    
    .Reservemy{
        font-size: 20px;
        /*margin-left: 15%;*/
    /*}
    
    
    
    
    
    
            
    
            
   
    
        } */
